

{% block title %}MAil{% endblock %}

{% block body %}
    {% block content %}
        <center>
            <h2 > Confirmation de l’envoi d’une commande</h2>
        </center>
        <p>Bonjour </p>
        <p>Nous avons bien reçu votre commande dont nous vous remercions</p>
        <p> Merci pour votre visite</p>
    {% endblock %}
{% endblock %}
